:root {
  --colour-one: red;
  --use-colour-two: true;
  --use-colour-two: false; /* comment */
  --colour-two: green;
}

body {
  color: var(--colour-one);

  @if var(--use-colour-two) {
    color: var(--colour-two);
  }
}
